@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer {
   padding: 3rem;
   border-top: 3.8rem solid variables.color(quaternary);
   background-color: variables.color(primary);
   text-align: center;

   // * DESKTOPS
   @media only screen and (min-width: 1025px) {
      flex-wrap: nowrap;
   }
}

.footer-nav {
   @include mixins.footerList;
}

.contact-list {
   @include mixins.footerList;
}

.social-wrapper {
   align-items: center;
   text-align: center;

   img {
      width: 80%;
      margin: 2rem;

      // * DESKTOPS
      @media only screen and (min-width: 1025px) {
         width: 60%;
      }
   }

   &-1 {
      display: none;

      // * DESKTOPS
      @media only screen and (min-width: 1025px) {
         display: block;
      }
   }

   &-2 {
      display: block;

      // * DESKTOPS
      @media only screen and (min-width: 1025px) {
         display: none;
      }
   }
}

.social-icons {
   display: flex;
   justify-content: center;
   gap: 0rem;
   margin: 1rem;
   box-sizing: border-box;

   // * DESKTOPS
   @media only screen and (min-width: 1025px) {
      gap: 1.5rem;

      &-link {
         text-decoration: none;
         width: 4rem;
         height: 4rem;
         color: variables.color(secondary);
         @include mixins.flexPosition;

         &:hover {
            color: variables.color(septenary);
         }

         i {
            font-size: variables.size(xl);
         }
      }
   }
}