@use "../abstracts/mixins";
@use "../abstracts/variables";

.nav {
   display: flex;
   justify-content: center;
   padding: 1rem;
   background-color: variables.color(quaternary);
   @include mixins.navigation;
}