@use "../abstracts/variables";

.slideshow {
   position: relative;
   width: 100%;
   height: 73vh;

   &-slide {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      visibility: hidden;
      opacity: 0;
      animation: slideshow 20s linear infinite;

      img {
         width: inherit;
         height: inherit;
         object-fit: none;
         object-position: center center;
      }

      &-content {
         background-color: rgba(variables.color(secondary), .9);
         position: absolute;
         bottom: 1rem;
         left: 1rem;
         max-width: 90%;
         padding: 3rem;
      }

      h2 {
         font-size: variables.size(xl);
         color: variables.color(primary);
      }

      p {
         font-size: variables.size(xs);
      }
   }
}

$animList: 1 0s, 2 4s, 3 8s, 4 12s, 5 16s;

@each $item in $animList {
   .slideshow-slide:nth-child(#{nth($item, 1)}) {
      animation-delay: nth($item, 2);
   }
}

@keyframes slideshow {
   0% {
      visibility: hidden;
      opacity: 0;
   }

   2% {
      visibility: visible;
      opacity: 1;
   }

   18% {
      visibility: visible;
      opacity: 1;
   }

   20% {
      visibility: hidden;
      opacity: 0;
   }

   100% {
      visibility: hidden;
      opacity: 0;
   }
}