$colors: (
   primary: #333,
   secondary: #ffffff,
   tertiary: #2EA69A,
   quaternary: #025E73,
   quinary: #025373,
   senary: #0D2626,
   septenary: #700202
);

@function color($color-name) {
   @return map-get($colors, $color-name);
}

$font-sizes: (
   xl: 3rem,
   lg: 2.5rem,
   md: 2rem,
   sm: 1.8rem,
   xs: 1.4rem
);

@function size($size) {
   @return map-get($font-sizes, $size);
}

$font-josefinSans: 'Josefin Sans', sans-serif;